APP_NAME=lara-files
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=planos.caenselect.net

# lara-files watching folder configuration
FILESYSTEM_WATCHER_PATH=/srv/watching

# Custom scripts by 'isl' configuration
USER_ACCESS_SH=isl
GROUP_ACCESS_SH=www-data

# Docker & Docker-Compose Configuration
APP_PORT_IN_HOST_SERVER=8084
DOCKER_UID=1000
DOCKER_GID=33
DOCKER_USER=isl
DOCKER_GROUP=www-data

# Frontend is part of Laravel (Blade serves SPA)
FRONTEND_URL=${APP_URL}

# Session should use same root domain
SESSION_DOMAIN==planos.caenselect.net
SESSION_LIFETIME=43200  # 30 days for long-lived login
SESSION_SECURE_COOKIE=true  # Only false if using HTTP in dev

# Sanctum config to trust frontend
SANCTUM_STATEFUL_DOMAINS=planos.caenselect.net

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=sqlite

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=mailpit
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

VITE_ENV=production
VITE_APP_NAME="${APP_NAME}"
VITE_APP_URL="${APP_URL}"
# VITE_DEV_SERVER_URL=http://localhost:5173
VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"
